<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "plumber.jpg" %>
  </div>

  <div id="content">
    <h1>It's Octocat dressed as a famous plumber Figure</h1>
    <p>Hi you know what my name is and I think I don't need any presentation, anyway ... ¡Here we
    goooo!<br><br>
    Mario (Japanese: マリオ Hepburn: Mario, pronounced [maɾi.o]; English: /ˈmɑːrioʊ, ˈmær-/, Italian:
    [ˈmaːrjo]) is a fictional character in the Mario video game franchise, owned by Nintendo and
    created by Japanese video game designer Shigeru Miyamoto. Acting as the company's mascot, as
    well as being the eponymous protagonist of the series, Mario has appeared in over 200 video
    games since his creation. Depicted as a short, pudgy, Italian plumber who resides in the
    Mushroom Kingdom, his adventures generally center upon rescuing Princess Peach from the Koopa
    villain Bowser. His fraternal twin brother and sidekick is Luigi.<br><br>
    With more than 500 million units sold worldwide, the overall Mario franchise is the best-selling
    video game franchise of all time.[1][2] Outside of the Super Mario platform series, other Mario
    genres include the Mario Kart racing series, sports games such as the Mario Tennis and Mario
    Golf series, role-playing games such as Mario & Luigi, Super Mario RPG and Paper Mario, and
    educational games such as Mario Is Missing!, Mario's Time Machine and Mario Teaches Typing.
    The franchise has branched into several media, including television shows, film, comics, and
    licensed merchandise. Since 1990, Mario has been voiced by Charles Martinet.</p>
  </div>
</div>